<h1>Todo</h1>
<%= form_with scope: :task, url: tasks_path, local: true do |form| %> 
    <%= form.text_field :text %>
    <%= form.hidden_field :status, :value=>false %>
    <%= form.submit :value=>"+" %>
<% end %>
<h2>In Progress</h2>
<table>
    <% @tasks.each do |task| %>
        <% if task.status == false %>
            <tr>
            <td><%= task.text %></td>
            <td><%= button_to "x", edit_task_path(task), :method => "get" %></td>
            </tr>
        <% end %>
    <% end %>
</table>
<h2>Completed</h2>
<table>
    <% @tasks.each do |task| %>
        <% if task.status == true %>
            <tr>
            <td><strike><%= task.text %></strike></td>
            <td><%= button_to "+", edit_task_path(task), :method => "get" %></td>
            <td><%= button_to "x", task_path(task), :method => "delete" %></td>
            </tr>
        <% end %>
    <% end %>
</table>